/* Fondo general claro */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f9;
  color: #000000;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Encabezado */
h1 {
  color: #1a1a1a;
  margin-bottom: 1rem;
}

/* Inputs y botones */
input[type="number"] {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #000000;
  border-radius: 6px;
  font-size: 1rem;
  width: 150px;
  background-color: #000000ea;
}

button {
  padding: 0.5rem 1rem;
  background-color: #2d89ef;
  color: rgb(15, 15, 15);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1b5dbf;
}

/* Resultado de búsqueda */
p {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

/* Recorrido */
strong {
  color: #333;
}

/* Área del árbol */
.tree-container {
  height: 500px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(127, 192, 253, 0.1);
}
